/* Base Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url("../images/backcover.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 100vh;
}

.main-div{
    max-width: 1280px;
    margin: auto;
}

/* Navigation */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

nav img[alt="logo"]{
    width: 85px;
}

.nav-items{
    display: flex;
    color:#3E4794;
    font-weight: 800;
}

.nav-items .nav-item:not(:last-child){
    margin-right: 20px;
}

.signin-btn{
    background: linear-gradient(90deg, rgba(150,92,242,1) 0%, rgba(255,138,220,1) 100%);
    border: none;
    color: #ffffff;
    font-size: 11px;
    padding: 3px 12px;
    border-radius: 15px;
}

.btn-mobileNav{
    display: none;
    font-size: 35px;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

/* Intro Section */

.left-section{
    width: 40%;
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
}

.left-section h1{
    font-size: 60px;
    color: #3E4794;
}

.left-section h4{
    font-size: 12px;
    width: 65%;
    font-weight: 100;
    color: #758283;
    margin: 40px 0;
    line-height: 2;
}

.learn-more-btn{
    background: linear-gradient(90deg, rgba(150,92,242,1) 0%, rgba(255,138,220,1) 100%);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    letter-spacing: 1px;
}

.imgs-div{
    width: 60%;
}

.imgs-div img[alt="intro-img"]{
    max-width: 800px;
    height: 640px;
    position: absolute;
    right: 8%;
    top: 14%;
}

.vector-img{
    position: absolute;
    bottom: 10%;
    left: 40%;
}

.vector-dot{
    position: absolute;
    bottom: 22%;
    left: 44%;
}

/* Media Queries */

@media screen and (max-width: 1280px) {
    body{
        background-position: right top;
    }

    .main-div{
        max-width: 960px;
    }

    .left-section{
        width: 50%;
        position: absolute;
        left: 6%;
        top: 40%;
    }

    .left-section h4 {
        font-size: 14px;
    }

    .imgs-div img[alt="intro-img"]{
        max-width: 600px;
        height: 500px;
        top: 22%;
    }

    .vector-img{
        position: absolute;
        bottom: 20%;
        left: 10%;
    }
    
    .vector-dot{
        position: absolute;
        bottom: 28%;
        left: 16%;
    }

}

@media screen and (max-width: 768px) {
    .main-div{
        width: 90%;
    }
    
    .intro-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    
    .left-section{
        width: 80%;
        position: initial;
        transform: translateY(0);
        margin: auto;
    }

    .left-section h4{
        width: 100%;
    }

    .imgs-div{
        width: 100%;
    }

    .imgs-div img[alt="intro-img"] {
        position: initial;
        max-width: 100%;
        height: auto;
    }

    .vector-img{
        position: absolute;
        bottom: 15%;
        left: 80%;
    }
    
    .vector-dot{
        position: absolute;
        bottom: 23%;
        left: 88%;
    }
}

@media screen and (max-width: 550px) {
    nav{
        height: 10vh;
        margin-bottom: 50px;
    }
    .nav-items, .signin-btn{
        display: none;
    }

    .btn-mobileNav{
        display: block;
    }
}